<% layout("/layouts/boilerplate") %>
<body>
  <br />
 
  <div class="filters">


    <div class="filter-a">
            <!-- #1 -->
            <div class="filter">
              <div><i class="fa-solid fa-fire"></i></div>
              <p>Trending</p>
            </div>
            <!-- #2 -->
            <div class="filter">
              <div><i class="fa-solid fa-bed"></i></div>
              <p>Rooms</p>
            </div>
            <!-- #3 -->
            <div class="filter">
              <div><i class="fa-solid fa-mountain-city"></i></div>
              <p>Iconic Cities</p>
            </div>
            <!-- #4 -->
            <div class="filter">
              <div><i class="fa-solid fa-mountain-sun"></i></div>
              <p>Mountain</p>
            </div>
            <!-- #5 -->
            <div class="filter">
              <div><i class="fa-brands fa-fort-awesome"></i></div>
              <p>Castles</p>
            </div>
            <!-- #6 -->
            <div class="filter">
              <div><i class="fa-solid fa-person-swimming"></i></div>
              <p>Pools</p>
            </div>
            <!-- #7 -->
            <div class="filter">
              <div><i class="fa-solid fa-campground"></i></div>
              <p>Camping</p>
            </div>
            <!-- #8 -->
            <div class="filter">
              <div><i class="fa-solid fa-cow"></i></div>
              <p>Farms</p>
            </div>
            <!-- #9 -->
            <div class="filter">
                <div> <i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>
            <!-- #10 -->
            <div class="filter">
                <div><i class="fa-solid fa-landmark-dome"></i></div>
                <p>Domes</p>
            </div>
            
 
    </div>
    <div class="fixed-arow">
      <svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" class="fixed-arow-a"><path d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z"/></svg>
    </div>
    
    
    <!-- ----------------------------- -->

    <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display Total After Taxes</label>
        </div>
    </div>

      <!-- ----------------------------------- -->
       
        <div class="inputBox_container">
          <svg class="search_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" alt="search icon">
            <path d="M46.599 46.599a4.498 4.498 0 0 1-6.363 0l-7.941-7.941C29.028 40.749 25.167 42 21 42 9.402 42 0 32.598 0 21S9.402 0 21 0s21 9.402 21 21c0 4.167-1.251 8.028-3.342 11.295l7.941 7.941a4.498 4.498 0 0 1 0 6.363zM21 6C12.717 6 6 12.714 6 21s6.717 15 15 15c8.286 0 15-6.714 15-15S29.286 6 21 6z">
            </path>
          </svg>
          <input class="inputBox" id="inputBox" type="text" placeholder="Search For Listings">
        </div>
  
        <!-- ------------------------------------- -->

  </div>


  <!-- <h3>ALL LOCATION'S</h3> -->
  <br />
  <div class="row row-cols-lg-3 row-cols-lg-2 row-cols-lg-1 mt-1">
    <% for(let LISTING of listings){ %>
    <div class="card" style="width: 20rem">
      <img src="<%= LISTING.image.url %>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h6><%= LISTING.title %></h6>
        <p class="card-text">
          &#8377; <%= LISTING.price.toLocaleString("en-IN")  %> /Night
          <i class="taxinfo">
            +18% GST

           ( ₹ <%= (LISTING.price * 1.18).toLocaleString("en-IN") %> )

          </i>
          <!-- <i>  </i> -->
        </p>
        <a href="/listings/<%= LISTING.id %>">
          <button type="button" class="btn btn-info more-info-btn">More Info</button>
        </a>
      </div>
    </div>
    <% } %>
  </div>
  <br /><br /><br /><br />
</body>



